@import '~antd/dist/antd.css';

/* Public Layout */
.public-layout {
  .header {
    position: fixed;
    width: 100%;

    .logo-item {
      width: 58px;
      height: 58px;
      margin-top: 3px;
    }
  }
  .content {
    width: 100%;
    margin-top: 64px;
    height: calc(100vh - 130px);
    display: flex;

    .page-content {
      flex: 2;
      margin: 2em 2em 0 2em;
      padding: 1em;
      background: #fff;
    }
  }
}

/* Authenticated layout. */
.authenticated-layout {
  height: 100vh;

  .header {
    background: #fff;
    padding: 0;
  }

  .sider-toggle {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #108ee9;
    }
  }

  .content {
    padding: 2em;
    background: #fff;

    height: calc(100vh - 178px);
    display: flex;
    overflow: auto;


    /* First row in the content block. */
    > .ant-row {
      width: 100%;
    }

    .playlists {
      height: calc(100vh - 274px);
      display: flex;
      overflow: auto;
    }
  }
}


.logo-menu {
  height: 64px !important;
  padding-top: 3px !important;
  .logo-item {
    transition: height .3s;
    transition: width .3s;
    width: 58px;
    height: 58px;
    display: block;
    margin: 0 auto;
  }
}

.ant-layout-sider-collapsed {
  .logo-menu {
    padding-top: 12px !important;
    height: 64px !important;
    .logo-item {
      transition: height .3s;
      transition: width .3s;
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 auto;
    }
  }
}

/* Login Page */

.login-container {
  flex: 2;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

/* Music Player */
.music-player {
  float: right;
  .vcr-control {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #108ee9;
    }
  }
}

.player-background {
  background-color: lightgrey;

  /* When the player is in flyout mode, change the background color */
  &.flyout {
    background-color: white;
  }

  /* Define the maximum player size and center it in the background container */
  .player-video-container {
    max-width: 800px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;

    /* Make the player responsive so that it scales up and down in size and maintain aspect */
    .player-video {
      display: block;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      overflow: hidden;
      min-height: 225px;
      background-color: black;

      /* "Flyout" the player window to the lower right. */
      &.flyout {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 10em;
        margin-right: 10em;
        width: 200px;
        height: 113px;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      /* set the YouTube embed to fill the whole container. */
      span iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}


